{% extends 'habitatApp/baseForm.html' %}

{% load staticfiles%}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/donation_new.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.0/css/bootstrap-select.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.0/js/bootstrap-select.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.0/js/i18n/defaults-*.min.js"></script>

    <script type="text/javascript">
    $(document).ready($('.selectpicker').selectpicker({
      }));

    $('.selectpicker').val('{{request.donor}}');
    $('.selectpicker').selectpicker('render');


    </script>

{% endblock %}


    {% block content %}


        <table class="table">
        <section>
            <h3> New Donation </h3>
        </section>

        <form method="POST" class="post-form">{%csrf_token %}

        {% for field in form %}
            <div class="fieldWrapper">
                <tr>
                    <td>{{ field.label_tag }} {% if field.field.required %} <span class="asterik">* <span>{% endif %}</td>
                    <td>{{ field }} </td>
                    <td id="errors">{{ field.errors}} </td>

                    {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
                </tr>
            </div>
        {% endfor %}
            <tr><td><button type="submit" class="save btn btn-success" id="save-btn">Save</button></td></tr>
        </form>

        </table>



    {% endblock %} 
    

</html>

