{% extends 'habitatApp/base.html' %}

{% load staticfiles%}


    {% block content %}
            <div>
                <ol class="breadcrumb">
                    <li><a href="{% url 'donations' %}">Donations</a></li>
                    <li class="active">Donation Detail</li>
                </ol>
                
                <a href="{% url 'donation_edit' pk=donation.pk %}" class="btn btn-primary btn-s pull-right" id="donation-btn">Edit</a> 
                <table class = "table table-sm">
                    <thead>
                        <tr>
                            <th>Donation Info: </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr><td><b>ID: </b></td> <td>{{donation.donor.id}}</td> </tr>
                        <tr><td><b>Donor: </b></td> <td>{{donation.donor.get_title}} </td></tr>
                        <tr><td><b>Date: </b></td> <td> {{donation.date}} </td></tr>
                        <tr><td><b>Type: </b></td> <td> {{donation.type}} </td></tr>
                        <tr><td><b>Description: </b></td> <td> {{donation.description}} </td></tr>
                        <tr><td><b>Estimated Value: </b></td> <td> {{donation.est_val}} </td></tr>
                        <tr><td><b> </b></td> <td>  </td></tr>
                    </tbody>
                </table>
            </div>

    {% endblock %} 



