<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>New Donation</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>
            $( function() {
                $( "#id_date" ).datepicker();
             } );
    </script>
</head>
<body>
    <div class="container">

        <table class="table sm">
        <form method="POST" class="post-form">{%csrf_token %}
        {% for field in form %}
            <div class="fieldWrapper">
                <tr>
                    {{ field.errors }}
                    <td>{{ field.label_tag }} </td>
                    <td>{{ field }} </td>

                    {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
                </tr>
            </div>
        {% endfor %}
            <tr><td><button type="submit" class="save btn btn-default">Save</button></td><td></td></tr>
        </form>
        </table>

        <!--
        {{form.non_field_errors}}
        <div class="fieldWrapper">
            {{form.subject.errors}}
            <label for="{{form.subject.id_for_label}}">Donor: </label>
            <select id="id_donor" name="donor">
            
            {{form.subject}}
        </div>
        -->

    </div>
</body>

<!-- Bootstrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<!-- jQuery (for Bootstrap JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</html>

