{% extends 'habitatApp/base.html' %}

{% load staticfiles %}


{% block head %}
    {{ block.super }}

{% endblock %}


    {% block content %}


     <ol class="breadcrumb">
        <li class="active">Donors</li>
    </ol>

    <table class="table table-hover" id="table">
        <input type="text" id="search" placeholder=" Search" />                
        <a href="{% url 'donor_new' %}" class="btn btn-primary btn-s pull-right" id="donor-btn"><b>+</b> Add Donor</a>    
        <thead class="thead-inverse">
            <tr>
                <th> Name </th>
                <th> Company</th>
                <th> Address</th>
                <th> Phone #</th>
                <th> E-mail</th>
                <th> </th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            {% for donor in donors %}
                <tr>


                    
                    {% if donor.first_name and donor.last_name %}
                    <td> {{donor.first_name}} {{donor.last_name}} </td>

                    {% elif donor.first_name%}
                    <td> {{donor.first_name}} </td>

                    {% elif donor.last_name %}
                    <td> {{donor.last_name}} </td>
                    {% else %}
                    <td> </td>
                    {% endif %} 

                    {%if donor.company %}
                    <td> {{donor.company}} </td>
                    {% else %}
                    <td> </td>
                    {% endif %}
        
                    {%if donor.street_address%}
                    <td> {{donor.street_address}} </td>
                    {% else %}
                    <td> </td>
                    {% endif %}

    

                    {%if donor.cell_phone %}
                    <td> {{donor.cell_phone }}</td>
                    {% elif donor.home_phone %}
                    <td> {{donor.home_phone }}</td>
                    {% else %}
                    <td> </td>
                    {% endif %}

                    {%if donor.email%}
                    <td> {{donor.email}} </td>
                    {% else %}
                    <td> </td>
                    {% endif %}

                    <td> <a href="{% url 'donor_detail' pk=donor.pk %}" class="btn btn-info btn-xs pull-right" id="donation-btn"><span class='glyphicon glyphicon-search'></span> Detail</a> </td>   

                    <td><btn>

                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% endblock %}
