{% extends 'habitatApp/base.html' %}

{% load staticfiles %}


{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/donors.css' %}">


{% endblock %}


    {% block navbar %}

    <div class="col-sm-1">
        <div class="sidebar-nav">
          <div class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <span class="visible-xs navbar-brand"> </span>
            </div>
            <div class="navbar-collapse collapse sidebar-navbar-collapse">
              <ul class="nav navbar-nav">
                <li><a href="{% url "donations" %}"><span class="glyphicon glyphicon-gift" title="Go to donations table"></span> </a></li>
                <li class="active"><a href="{% url "donors" %}"><span class="glyphicon glyphicon-user" title="Go to donors table"></span></a></li>
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </div>
    </div>
    {% endblock %} 

    {% block content %}


    <table class="table table-hover" id="table">
        <input type="text" id="search" placeholder=" Search..." />                
        <a href="{% url 'donor_new' %}" class="btn btn-primary btn-s pull-right" id="donor-btn"><b>+</b> Add Donor</a>    
        <thead class="thead-inverse">
            <tr>
                <th> Name </th>
                <th> Company</th>
                <th> Address</th>
                <th> Phone #</th>
                <th> E-mail</th>
                <th> </th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            {% for donor in donors %}
                <tr>

                    
                    {% if donor.first_name and donor.last_name %}
                    <td> {{donor.first_name}} {{donor.last_name}} </td>

                    {% elif donor.first_name%}
                    <td> {{donor.first_name}} </td>

                    {% elif donor.last_name %}
                    <td> {{donor.last_name}} </td>
                    {% else %}
                    <td> </td>
                    {% endif %} 

                    {%if donor.company %}
                    <td> {{donor.company}} </td>
                    {% else %}
                    <td> </td>
                    {% endif %}
        
                    {%if donor.street_address%}
                    <td> {{donor.street_address}} </td>
                    {% else %}
                    <td> </td>
                    {% endif %}

    

                    {%if donor.cell_phone %}
                    <td> {{donor.cell_phone }}</td>
                    {% elif donor.home_phone %}
                    <td> {{donor.home_phone }}</td>
                    {% else %}
                    <td> </td>
                    {% endif %}

                    {%if donor.email%}
                    <td> {{donor.email}} </td>
                    {% else %}
                    <td> </td>
                    {% endif %}

                    <td> <a href="{% url 'donor_detail' pk=donor.pk %}" class="btn btn-default btn-xs pull-right" id="donor-info-btn"><span class='glyphicon glyphicon-search'></span></a> </td>   

                    <td> <a href="{% url 'donor_delete' pk=donor.pk %}" class="btn btn-danger btn-xs pull-right " id="donor-delete-btn"><span class='glyphicon glyphicon-remove'></span></a> </td>



                </tr>
            {% endfor %}
        </tbody>
    </table>
        {% for message in messages %}
            <div class='alert alert-success alert-dismissable' role='alert'>
                {{message}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}

    {% endblock %}
