{% extends 'habitatApp/baseForm.html' %}

{% load staticfiles%}

{% block head %}
    {{block.super}}
    <link rel="stylesheet" href="{% static 'css/donor_new.css' %}">

{% endblock %}

    {% block content %}
    

    <div>
        
        <table class="table sm">

        <section>
            <h3>Edit Donor </h3>
        </section>
        <form method="POST" class="post-form">{%csrf_token %}
        {% for field in form %}
            <div class="fieldWrapper">
                <tr>
                    {{ field.errors }}
                    <td>{{ field.label_tag }} </td>
                    <td>{{ field }} </td>

                    {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
                </tr>
            </div>
        {% endfor %}
            <tr><td><button type="submit" class="save btn btn-success">Save</button></td><td></td></tr>
        </form>
        </table>
        
    </div>


    {% endblock %} 



