{% extends 'habitatApp/base.html' %}

{% load staticfiles%}

{% block content %}
    <div>

        <ol class="breadcrumb">
            <li><a href="{% url 'donors' %}">Donors</a></li>
            <li class="active">New Donor</li>
        </ol>


        <table class="table sm">
        <form method="POST" class="post-form">{%csrf_token %}
        {% for field in form %}
            <div class="fieldWrapper">
                <tr>
                    {{ field.errors }}
                    <td>{{ field.label_tag }} </td>
                    <td>{{ field }} </td>

                    {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
                </tr>
            </div>
        {% endfor %}
            <tr><td><button type="submit" class="save btn btn-default">Save</button></td><td></td></tr>
        </form>
        </table>

    </div>

    {% endblock %} 