{% load staticfiles%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

</head>
<body>
<div class ="row" id="header">

<a href="{% url "donations" %}">
<img src="{% static "imgs/habitatLogo_white.png" %}" id="logo" alt="Habitat Brand" style="height: 15%; width: 18%; object-fit: contain"/>
</a>

</div>
<div class="row">

    <div class="col-sm-2">
        <div class="sidebar-nav">
          <div class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <span class="visible-xs navbar-brand"> </span>
            </div>
            <div class="navbar-collapse collapse sidebar-navbar-collapse">
              <ul class="nav navbar-nav">
                <li><a href="{% url "donations" %}"><span class="glyphicon glyphicon-briefcase"></span> Donations</a></li>
                <li><a href="{% url "donors" %}"><span class="glyphicon glyphicon-user"></span> Donors</a></li>
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </div>
    </div>

  
  <div class="col-sm-9">

    <input type="text" id="search" placeholder=" Search" />  
    <a href="{% url 'donation_new' %}" class="btn btn-primary btn-s pull-right" id="donation-btn"><b>+</b> Add Donation</a>

    <table class="table table-hover" id="table">
            
        <thead class="thead-inverse" id="tbl_head">
            <tr>
                <th> Donor </th>
                <th> Type </th>
                <th> Description</th>
                <th> Estimated Value</th>
                <th> Date of Donation</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody id="tbl_body">
            {% for donation in donations %}
                <tr>
                    <td> {{ donation.donor }}  </td>
                    <td> {{donation.type}} </td>
                    <td> {{donation.description}} </td>
                    <td> {{donation.est_val}}</td>
                    <td> {{donation.date}} </td>

                    <td> <a href="{% url 'donation_detail' pk=donation.pk %}" class="btn btn-default btn-xs pull-right" id="donation-info-btn"><span class='glyphicon glyphicon-search'></span></a> </td>   
                    <td> <a href="{% url 'donation_delete' pk=donation.pk %}" class="btn btn-danger btn-xs pull-right" id="donation-delete-btn"><span class='glyphicon glyphicon-remove'></span></a> </td>

                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% for message in messages %}
        <div class='alert alert-success alert-dismissable' role='alert'>
            {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}


    </div>
</div>

</body>

<!--Site Custom JS -->
<script src="{% static 'js/index.js' %}"></script>

<!-- Bootstrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<!-- jQuery (for Bootstrap JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</html>




